$primary-color: #b13d14;
$quaternary-color: #9c1a04;
$quinary-color: #db8758;
$secondary-color: #fff;
$tertiary-color: #340701;

.input-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    color: $quinary-color;
    gap: 10px;
    text-align: center;
    font-size: 1.2rem;

    .input-field {
        padding: 0.8rem;
        text-align: center;
        border-radius: 2rem;
        outline: none;
        border: none;
        font-size: 1.2rem;
        color: $secondary-color;
        background-color: $quinary-color;
    }}