$primary: hsl(22, 65%, 60%);
$accent: hsl(0, 0%, 95%);

.styledBtn {
    background-color: $accent;
    border: 2px solid $primary;
    border-radius: 3rem;
    color: $primary;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
}