$primary: hsl(22, 65%, 60%);
$accent: hsl(0, 0%, 95%);


.image-preview {
    border-radius: 1rem;
    border: 2px solid $primary;
    object-fit: cover;
    -webkit-box-shadow: -4px 21px 51px -5px hsla(0, 0%, 0%, 0.5);
    -moz-box-shadow: -4px 21px 51px -5px hsla(0, 0%, 0%, 0.5);
    box-shadow: -4px 21px 51px -5px hsla(0, 0%, 0%, 0.5);
}