$primary-color: #b13d14;
$quaternary-color: #9c1a04;
$quinary-color: #db8758;
$secondary-color: #fff;
$tertiary-color: #340701;


.image-preview {
    border-radius: 1rem;
    border: 2px solid $quinary-color;
    object-fit: cover;
    -webkit-box-shadow: -4px 21px 51px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: -4px 21px 51px -5px rgba(0,0,0,0.5);
    box-shadow: -4px 21px 51px -5px rgba(0,0,0,0.5);
}