$primary: hsl(22, 65%, 60%);
$accent: hsl(0, 0%, 95%);

input[type="file"] {
  display: none;
}

.file-label {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: $accent;
    padding: 1%;
    color: $primary;
    border: 2px solid $primary;
    border-radius: 3rem;
    cursor: pointer;
}

.file-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
}