$primary-color: #b13d14;
$quaternary-color: #9c1a04;
$quinary-color: #db8758;
$secondary-color: #fff;
$tertiary-color: #340701;

.slideBtn {
    aspect-ratio: 1/1;
    background-color: $quinary-color;
    border: 2px solid $secondary-color;
    border-radius: 100%;
    cursor: pointer;
    height: 100%;
    outline: none;
}

.slideContainer {
    align-items: center;
    background-color: $secondary-color;
    border: 2px solid $quinary-color;
    border-radius: 3rem;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: flex-start;
    width: 4rem;
}

.slideContainer[data-isOn="true"] {
    justify-content: flex-end;
}