$primary: hsl(22, 65%, 60%);
$accent: hsl(0, 0%, 95%);

.slideBtn {
    aspect-ratio: 1/1;
    background-color: $primary;
    border: 2px solid $accent;
    border-radius: 100%;
    cursor: pointer;
    height: 100%;
    outline: none;
}

.slideContainer {
    align-items: center;
    background-color: $accent;
    border: 2px solid $primary;
    border-radius: 3rem;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: flex-start;
    width: 4rem;
}

.slideContainer[data-isOn="true"] {
    justify-content: flex-end;
}