@font-face {
    font-family: 'poiret';
    src: url(./assets/fonts/Poiret_One/PoiretOne-Regular.ttf)
}

*{
    font-family: "poiret", sans-serif;
}

.wrapper {
    gap: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}

.container-sections {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}