@font-face {
    font-family: 'poiret';
    src: url(./assets/fonts/Poiret_One/PoiretOne-Regular.ttf)
}

*{
    font-family: "poiret", sans-serif;
}

.wrapper {
    align-items: center;
    gap: 3rem;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    justify-content: center;
    padding: 1rem;
    width: 100vw;
}