@font-face {
    font-family: 'poiret';
    src: url(./assets/fonts/Poiret_One/PoiretOne-Regular.ttf)
}

*{
    font-family: "poiret", sans-serif;
}

.wrapper {
    display: grid;
    padding: 1rem;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: space-around;
}


.container-sections {
    display: flex;
    background-color: hsl(202, 65%, 95%);
    flex-flow: column nowrap;
    aspect-ratio: 1/1;
    height: 400px;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.container-sections:hover {
    box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.2);
    transition: all 0.35s ease-in-out;
}