$primary-color: #b13d14;
$quaternary-color: #9c1a04;
$quinary-color: #db8758;
$secondary-color: #fff;
$tertiary-color: #340701;

#videoCam {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: $quinary-color solid 2px;
    transition: all 0.35s ease-in-out;
}

.webcam-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}