$primary: hsl(22, 65%, 60%);
$accent: hsl(0, 0%, 95%);

#videoCam {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.2);
    border: $primary solid 2px;
    transition: all 0.35s ease-in-out;
}

.webcam-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}